In [1]:
# import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

In [2]:
df = pd.read_csv('AB_NYC_2019.csv', sep=',').copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [3]:
df.head().T

,0,1,2,3,4
id,2539,2595,3647,3831,5022
name,Clean & quiet apt home by the park,Skylit Midtown Castle,THE VILLAGE OF HARLEM....NEW YORK !,Cozy Entire Floor of Brownstone,Entire Apt: Spacious Studio/Loft by central park
host_id,2787,2845,4632,4869,7192
host_name,John,Jennifer,Elisabeth,LisaRoxanne,Laura
neighbourhood_group,Brooklyn,Manhattan,Manhattan,Brooklyn,Manhattan
neighbourhood,Kensington,Midtown,Harlem,Clinton Hill,East Harlem
latitude,40.64749,40.75362,40.80902,40.68514,40.79851
longitude,-73.97237,-73.98377,-73.9419,-73.95976,-73.94399
room_type,Private room,Entire home/apt,Private room,Entire home/apt,Entire home/apt
price,149,225,150,89,80
minimum_nights,1,1,3,1,10
number_of_reviews,9,45,0,270,9
last_review,2018-10-19,2019-05-21,NaN,2019-07-05,2018-11-19
reviews_per_month,0.21,0.38,NaN,4.64,0.1
calculated_host_listings_count,6,2,1,1,1
availability_365,365,355,365,194,0

In [4]:
# drop unnecessary columns

df.drop(columns='host_name', inplace=True)

In [5]:
# rename columns

df.rename(columns={
    'id': 'listing_id',
    'name': 'listing_name',
    'number_of_reviews': 'total_reviews',
    'last_review': 'last_review_date',
    'calculated_host_listings_count': 'host_total_listings',
    'availability_365': 'available_days_in_year',
    }, inplace=True)

df.tail()

,listing_id,listing_name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,total_reviews,last_review_date,reviews_per_month,host_total_listings,available_days_in_year
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [6]:
df = df[['listing_id', 'listing_name', 
         'available_days_in_year',
        'neighbourhood', 'neighbourhood_group', 
        'room_type', 'price','minimum_nights', 
        'total_reviews', 'last_review_date', 'reviews_per_month',
        'latitude', 'longitude',
        'host_id', 'host_total_listings',        
        ]]

df.head()

,listing_id,listing_name,available_days_in_year,neighbourhood,neighbourhood_group,room_type,price,minimum_nights,total_reviews,last_review_date,reviews_per_month,latitude,longitude,host_id,host_total_listings
0,2539,Clean & quiet apt home by the park,365,Kensington,Brooklyn,Private room,149,1,9,2018-10-19,0.21,40.64749,-73.97237,2787,6
1,2595,Skylit Midtown Castle,355,Midtown,Manhattan,Entire home/apt,225,1,45,2019-05-21,0.38,40.75362,-73.98377,2845,2
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,365,Harlem,Manhattan,Private room,150,3,0,NaN,NaN,40.80902,-73.94190,4632,1
3,3831,Cozy Entire Floor of Brownstone,194,Clinton Hill,Brooklyn,Entire home/apt,89,1,270,2019-07-05,4.64,40.68514,-73.95976,4869,1
4,5022,Entire Apt: Spacious Studio/Loft by central park,0,East Harlem,Manhattan,Entire home/apt,80,10,9,2018-11-19,0.10,40.79851,-73.94399,7192,1

* review columns, values and data types

In [7]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
listing_id,48895.0,NaN,NaN,NaN,19017143.23618,10983108.38561,2539.0,9471945.0,19677284.0,29152178.5,36487245.0
listing_name,48879,47905,Hillside Hotel,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
available_days_in_year,48895.0,NaN,NaN,NaN,112.781327,131.622289,0.0,0.0,45.0,227.0,365.0
neighbourhood,48895,221,Williamsburg,3920,NaN,NaN,NaN,NaN,NaN,NaN,NaN
neighbourhood_group,48895,5,Manhattan,21661,NaN,NaN,NaN,NaN,NaN,NaN,NaN
room_type,48895,3,Entire home/apt,25409,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,48895.0,NaN,NaN,NaN,152.720687,240.15417,0.0,69.0,106.0,175.0,10000.0
minimum_nights,48895.0,NaN,NaN,NaN,7.029962,20.51055,1.0,1.0,3.0,5.0,1250.0
total_reviews,48895.0,NaN,NaN,NaN,23.274466,44.550582,0.0,1.0,5.0,24.0,629.0
last_review_date,38843,1764,2019-06-23,1413,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reviews_per_month,38843.0,NaN,NaN,NaN,1.373221,1.680442,0.01,0.19,0.72,2.02,58.5
latitude,48895.0,NaN,NaN,NaN,40.728949,0.05453,40.49979,40.6901,40.72307,40.763115,40.91306
longitude,48895.0,NaN,NaN,NaN,-73.95217,0.046157,-74.24442,-73.98307,-73.95568,-73.936275,-73.71299
host_id,48895.0,NaN,NaN,NaN,67620010.64661,78610967.032667,2438.0,7822033.0,30793816.0,107434423.0,274321313.0
host_total_listings,48895.0,NaN,NaN,NaN,7.143982,32.952519,1.0,1.0,1.0,2.0,327.0

#### first insights:

* listing_id values are unique for each rows but unique listing_name are less
* average available days of a property is 45 days in a year
* minimum_nights has some extremely high values up to 1250
* host_total_listings max value is 327

In [8]:
df.duplicated().sum()

0

In [9]:
df.isna().sum()

listing_id                    0
listing_name                 16
available_days_in_year        0
neighbourhood                 0
neighbourhood_group           0
room_type                     0
price                         0
minimum_nights                0
total_reviews                 0
last_review_date          10052
reviews_per_month         10052
latitude                      0
longitude                     0
host_id                       0
host_total_listings           0
dtype: int64

In [10]:
# view nan values in listing_name column

df_filtered = df[df['listing_name'].isna()]
df_filtered.head(25).T

,2854,3703,5775,5975,6269,6567,6605,8841,11963,12824,13059,13401,15819,16071,18047,28889
listing_id,1615764,2232600,4209595,4370230,4581788,4756856,4774658,6782407,9325951,9787590,9885866,10052289,12797684,12988898,14135050,22275821
listing_name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
available_days_in_year,362,341,0,0,0,0,0,0,0,0,0,362,0,365,0,0
neighbourhood,Battery Park City,East Village,Greenwich Village,Nolita,Williamsburg,Bushwick,Washington Heights,Williamsburg,Hell's Kitchen,Harlem,Chinatown,Brownsville,Upper West Side,Fordham,Bedford-Stuyvesant,Bushwick
neighbourhood_group,Manhattan,Manhattan,Manhattan,Manhattan,Brooklyn,Brooklyn,Manhattan,Brooklyn,Manhattan,Manhattan,Manhattan,Brooklyn,Manhattan,Bronx,Brooklyn,Brooklyn
room_type,Entire home/apt,Entire home/apt,Entire home/apt,Entire home/apt,Private room,Private room,Private room,Private room,Entire home/apt,Entire home/apt,Private room,Private room,Private room,Shared room,Private room,Entire home/apt
price,400,200,225,215,150,70,40,45,190,300,67,50,100,130,70,110
minimum_nights,1000,1,1,7,1,1,1,1,4,5,4,3,1,1,3,4
total_reviews,0,28,1,5,0,0,0,0,1,0,0,3,0,0,0,5
last_review_date,NaN,2015-06-08,2015-01-01,2016-01-02,NaN,NaN,NaN,NaN,2016-01-05,NaN,NaN,2016-08-18,NaN,NaN,NaN,2018-08-13
reviews_per_month,NaN,0.45,0.02,0.09,NaN,NaN,NaN,NaN,0.02,NaN,NaN,0.07,NaN,NaN,NaN,0.27
latitude,40.71239,40.73215,40.73473,40.72046,40.7137,40.70046,40.85198,40.71354,40.76436,40.80316,40.71632,40.66409,40.79843,40.86032,40.69421,40.69546
longitude,-74.0162,-73.98821,-73.99244,-73.9955,-73.94378,-73.92825,-73.93108,-73.93882,-73.98573,-73.95189,-73.99328,-73.92314,-73.96404,-73.88493,-73.93234,-73.92741
host_id,6676776,11395220,20700823,22686810,21600904,1832442,24625694,31147528,33377685,50448556,37306329,49522403,69715276,71552588,85288337,49662398
host_total_listings,1,1,1,1,1,1,1,1,1,5,1,1,2,1,1,1

* they represent real rooms only with missing names, these may not have been booked during the year
* for these rows, I will assign a default name such as 'Untitled Listing'

In [11]:
# replace missing listing names with 'Untitled Listing'

df['listing_name'].fillna('Untitled Listing', inplace=True)

In [12]:
# view 0 values in available_days_in_year column

df_filtered = df[df['available_days_in_year'] == 0]
df_filtered.head(25).T

,4,6,8,14,20,26,48,66,88,94,123,132,142,165,166,174,179,180,189,193,197,198,214,220,232
listing_id,5022,5121,5203,6090,7801,8700,13050,16458,20300,20913,27883,30031,32331,41348,41513,44221,45542,45556,47370,51438,53137,53196,55982,57468,59855
listing_name,Entire Apt: Spacious Studio/Loft by central park,BlissArtsSpace!,Cozy Clean Guest Room - Family Apt,West Village Nest - Superhost,Sweet and Spacious Brooklyn Loft,Magnifique Suite au N de Manhattan - vue Cloitres,bright and stylish duplex,Light-filled 2B duplex in the heart of Park Sl...,Great Location for NYC,Charming 1 bed GR8 WBurg LOCATION!,East Village Sanctuary,NYC artists’ loft with roof deck,"Sunny, Cobble Hill Apartment",* Spacious GARDEN Park Slope Duplex* 6 people max,Convenient cozy cheap apt Manhattan,Financial District Luxury Loft,Clean and Cozy Harlem Apartment,"Fort Greene, Brooklyn: Center Bedroom",Chelsea Studio sublet 1 - 2 months,1 Bedroom in 2 Bdrm Apt- Upper East,"Quiet, sunny Midtown Manhattan apt.",Big Room/Washer-Dryer/Wifi/AC/JMZ,Cozy 2 br in sunny Fort Greene apt,"Modern, Large East Village Loft",One bedroom Apt. in NYC
available_days_in_year,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
neighbourhood,East Harlem,Bedford-Stuyvesant,Upper West Side,West Village,Williamsburg,Inwood,Bedford-Stuyvesant,Park Slope,East Village,Williamsburg,East Village,Greenpoint,Cobble Hill,Gowanus,Harlem,Financial District,Harlem,Fort Greene,Chelsea,Upper East Side,Hell's Kitchen,Bedford-Stuyvesant,Fort Greene,East Village,Midtown
neighbourhood_group,Manhattan,Brooklyn,Manhattan,Manhattan,Brooklyn,Manhattan,Brooklyn,Brooklyn,Manhattan,Brooklyn,Manhattan,Brooklyn,Brooklyn,Brooklyn,Manhattan,Manhattan,Manhattan,Brooklyn,Manhattan,Manhattan,Manhattan,Brooklyn,Brooklyn,Manhattan,Manhattan
room_type,Entire home/apt,Private room,Private room,Entire home/apt,Entire home/apt,Private room,Entire home/apt,Entire home/apt,Private room,Entire home/apt,Entire home/apt,Private room,Entire home/apt,Entire home/apt,Entire home/apt,Entire home/apt,Entire home/apt,Private room,Entire home/apt,Private room,Entire home/apt,Private room,Private room,Entire home/apt,Entire home/apt
price,80,60,79,120,299,80,115,225,50,100,100,50,140,250,80,196,100,65,125,130,195,80,68,189,250
minimum_nights,10,45,2,90,3,4,3,3,1,5,4,3,2,2,3,3,2,2,3,14,5,2,3,3,30
total_reviews,9,49,118,27,9,0,11,4,2,168,25,193,4,80,2,114,18,206,3,0,10,11,37,205,82
last_review_date,2018-11-19,2017-10-05,2017-07-21,2018-10-31,2011-12-28,NaN,2017-01-01,2017-09-24,2016-02-14,2018-07-22,2011-12-10,2019-05-20,2016-04-24,2019-07-06,2015-11-02,2019-06-20,2018-12-17,2019-06-30,2015-07-17,NaN,2019-07-01,2017-11-13,2018-12-31,2019-06-23,2016-01-05
reviews_per_month,0.1,0.4,0.99,0.22,0.07,NaN,0.1,0.16,0.05,1.57,0.23,1.86,0.04,2.17,0.04,1.06,1.79,1.92,0.03,NaN,1.01,0.48,0.35,1.96,0.78
latitude,40.79851,40.68688,40.80178,40.7353,40.71842,40.86754,40.68554,40.67343,40.72912,40.70984,40.72245,40.73494,40.6857,40.66858,40.82704,40.70666,40.82374,40.68863,40.74031,40.77333,40.76244,40.69546,40.68656,40.72821,40.7589
longitude,-73.94399,-73.95596,-73.96723,-74.00525,-73.95718,-73.92639,-73.9409,-73.98338,-73.98057,-73.95775,-73.98527,-73.9503,-73.99183,-73.99083,-73.94907,-74.01374,-73.9373,-73.97691,-73.99999,-73.95199,-73.99271,-73.93503,-73.97525,-73.98701,-73.96991
host_id,7192,7356,7490,11975,21207,26394,50846,64056,76627,79402,120223,129352,139874,180083,181167,193722,202249,67778,214287,236421,240360,247432,264928,239208,288031
host_total_listings,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1,2,1,1,1,1,1

* even they may represent valid records that were simply unavailable during the last year, they should be removed to avoid calculation issues and skewed results

In [13]:
df = df[df['available_days_in_year'] != 0].reset_index(drop=True)

In [14]:
# view nan values in last_review_date column

df_filtered = df[df['last_review_date'].isna()]
df_filtered.head(25).T

,2,15,30,32,182,230,235,306,310,377,534,536,557,592,607,656,690,697,765,800,847,908,950,994,996
listing_id,3647,7750,11452,11943,54466,63588,63913,89427,94209,152071,237210,239826,250537,258876,265912,283184,298854,303462,363673,402037,439870,490011,514548,547830,548184
listing_name,THE VILLAGE OF HARLEM....NEW YORK !,Huge 2 BR Upper East Cental Park,Clean and Quiet in Brooklyn,Country space in the city,Beautiful Uptown Manhattan apartmnt,LL3,"HOSTING YOUR SUNNY, SPACIOUS NYC ROOM",The Brooklyn Waverly,LARGE 1BR (CONV 2BR) CROWN HEIGHTS,Park Slope Apartment,Manhattan Loft in Prime East Village Location,"Amazing 1 bed, live like a Newyorkr",The Lenox in Harlem,"Affordable rooms,all transportation",Spacious 2 bed Loft apartment Bedford L,Huge Williamsburg Loft..Perfect for Big Groups!,"Low$pacious in Williamsburg, Bklyn",Fully Furnished 1B/1BTH UWS GEM 1 YR Sublease,Beautiful 3 bedroom in Manhattan,Stay with a Jazz Singer in Harlem!,"Gorgeous Park Slope, BK triplex 4BD",Great for families!,Loft Apt and Art Studio: 4-month rental,Brooklyn Summer Sublet-Ditmas Park,Cozy Room in GREENPOINT Apt. YeY
available_days_in_year,365,249,365,365,365,349,323,365,365,8,249,12,365,189,354,354,358,146,365,365,149,342,352,157,365
neighbourhood,Harlem,East Harlem,Bedford-Stuyvesant,Flatbush,Harlem,Clason Point,Inwood,Clinton Hill,Crown Heights,Park Slope,Greenwich Village,Gramercy,Harlem,Arrochar,Williamsburg,Williamsburg,Williamsburg,Upper West Side,Upper West Side,Harlem,Park Slope,Carroll Gardens,Bushwick,Flatbush,Greenpoint
neighbourhood_group,Manhattan,Manhattan,Brooklyn,Brooklyn,Manhattan,Bronx,Manhattan,Brooklyn,Brooklyn,Brooklyn,Manhattan,Manhattan,Manhattan,Staten Island,Brooklyn,Brooklyn,Brooklyn,Manhattan,Manhattan,Manhattan,Brooklyn,Brooklyn,Brooklyn,Brooklyn,Brooklyn
room_type,Private room,Entire home/apt,Private room,Private room,Private room,Private room,Private room,Entire home/apt,Entire home/apt,Entire home/apt,Entire home/apt,Entire home/apt,Entire home/apt,Private room,Entire home/apt,Entire home/apt,Private room,Entire home/apt,Private room,Private room,Entire home/apt,Private room,Entire home/apt,Entire home/apt,Private room
price,150,190,35,150,200,90,75,650,100,150,241,399,400,50,110,300,75,295,3000,125,299,200,180,90,199
minimum_nights,3,7,60,1,30,2,7,5,90,2,30,1,5,7,4,7,3,1,7,1,20,5,30,3,1
total_reviews,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
last_review_date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reviews_per_month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,40.80902,40.79685,40.68876,40.63702,40.80234,40.81309,40.86648,40.68613,40.67473,40.67359,40.73268,40.73685,40.81122,40.59101,40.7177,40.70766,40.71635,40.78012,40.80142,40.80192,40.66859,40.68444,40.69849,40.64882,40.72515
longitude,-73.9419,-73.94872,-73.94312,-73.96327,-73.95603,-73.85514,-73.9263,-73.96536,-73.94494,-73.97904,-73.99255,-73.98359,-73.94279,-74.06685,-73.95576,-73.95191,-73.94609,-73.98439,-73.96931,-73.95827,-73.98235,-73.99904,-73.92678,-73.9605,-73.95153
host_id,4632,17985,7355,45445,253385,295128,312288,116599,503800,731855,1243192,1257760,1313306,1360198,1394719,1427381,1412944,1562045,256239,2006712,1903758,2423401,2533991,2693076,2694253
host_total_listings,1,2,1,1,1,7,2,3,1,1,1,1,2,4,1,2,1,1,1,1,1,1,1,1,1

In [15]:
# check if the missing values in both columns are in the same rows

if df['last_review_date'].isna().equals(df['reviews_per_month'].isna()):
    print("yes they are same.")
else:
    print("nope, check it")

yes they are same.

In [16]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5207 entries, 2 to 31361
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   listing_id              5207 non-null   int64
 1   listing_name            5207 non-null   object
 2   available_days_in_year  5207 non-null   int64
 3   neighbourhood           5207 non-null   object
 4   neighbourhood_group     5207 non-null   object
 5   room_type               5207 non-null   object
 6   price                   5207 non-null   int64
 7   minimum_nights          5207 non-null   int64
 8   total_reviews           5207 non-null   int64
 9   last_review_date        0 non-null      object
 10  reviews_per_month       0 non-null      float64
 11  latitude                5207 non-null   float64
 12  longitude               5207 non-null   float64
 13  host_id                 5207 non-null   int64
 14  host_total_listings     5207 non-null   int64
dtypes: float64(3), int64(7), object(5)
memory usage: 650.9+ KB

* these records may represent new or low-traffic rooms that did not receive any reviews or bookings but they may also extremely skew results and calculations so i am removing these as well

In [17]:
df = df.dropna(subset=['last_review_date']).reset_index(drop=True)
df.head()

,listing_id,listing_name,available_days_in_year,neighbourhood,neighbourhood_group,room_type,price,minimum_nights,total_reviews,last_review_date,reviews_per_month,latitude,longitude,host_id,host_total_listings
0,2539,Clean & quiet apt home by the park,365,Kensington,Brooklyn,Private room,149,1,9,2018-10-19,0.21,40.64749,-73.97237,2787,6
1,2595,Skylit Midtown Castle,355,Midtown,Manhattan,Entire home/apt,225,1,45,2019-05-21,0.38,40.75362,-73.98377,2845,2
2,3831,Cozy Entire Floor of Brownstone,194,Clinton Hill,Brooklyn,Entire home/apt,89,1,270,2019-07-05,4.64,40.68514,-73.95976,4869,1
3,5099,Large Cozy 1 BR Apartment In Midtown East,129,Murray Hill,Manhattan,Entire home/apt,200,3,74,2019-06-22,0.59,40.74767,-73.97500,7322,1
4,5178,Large Furnished Room Near B'way,220,Hell's Kitchen,Manhattan,Private room,79,2,430,2019-06-24,3.47,40.76489,-73.98493,8967,1

In [18]:
df.dtypes

listing_id                  int64
listing_name               object
available_days_in_year      int64
neighbourhood              object
neighbourhood_group        object
room_type                  object
price                       int64
minimum_nights              int64
total_reviews               int64
last_review_date           object
reviews_per_month         float64
latitude                  float64
longitude                 float64
host_id                     int64
host_total_listings         int64
dtype: object

In [19]:
df.nunique()

listing_id                26155
listing_name              25879
available_days_in_year      365
neighbourhood               217
neighbourhood_group           5
room_type                     3
price                       564
minimum_nights               84
total_reviews               387
last_review_date           1216
reviews_per_month           929
latitude                  14652
longitude                 12316
host_id                   18944
host_total_listings          47
dtype: int64

In [20]:
# convert 'neighbourhood' and 'room_type' to category

df['neighbourhood'] = df['neighbourhood'].astype('category')
df['room_type'] = df['room_type'].astype('category')

In [21]:
df.isna().sum()

listing_id                0
listing_name              0
available_days_in_year    0
neighbourhood             0
neighbourhood_group       0
room_type                 0
price                     0
minimum_nights            0
total_reviews             0
last_review_date          0
reviews_per_month         0
latitude                  0
longitude                 0
host_id                   0
host_total_listings       0
dtype: int64

In [22]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
listing_id,26155.0,NaN,NaN,NaN,19320255.560122,11210938.636519,2539.0,9457277.5,20783233.0,29509166.5,36455809.0
listing_name,26155,25879,Loft Suite @ The Box House Hotel,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
available_days_in_year,26155.0,NaN,NaN,NaN,170.613496,124.153024,1.0,53.0,160.0,292.0,365.0
neighbourhood,26155,217,Bedford-Stuyvesant,2212,NaN,NaN,NaN,NaN,NaN,NaN,NaN
neighbourhood_group,26155,5,Manhattan,10813,NaN,NaN,NaN,NaN,NaN,NaN,NaN
room_type,26155,3,Entire home/apt,13709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,26155.0,NaN,NaN,NaN,149.885184,198.816962,0.0,70.0,109.0,175.0,9999.0
minimum_nights,26155.0,NaN,NaN,NaN,6.585739,19.602095,1.0,1.0,2.0,4.0,1250.0
total_reviews,26155.0,NaN,NaN,NaN,38.193615,54.359918,1.0,5.0,16.0,49.0,629.0
last_review_date,26155,1216,2019-06-23,1323,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reviews_per_month,26155.0,NaN,NaN,NaN,1.810126,1.805707,0.01,0.45,1.23,2.68,58.5
latitude,26155.0,NaN,NaN,NaN,40.727482,0.056936,40.50641,40.68703,40.72167,40.76303,40.91306
longitude,26155.0,NaN,NaN,NaN,-73.947724,0.051476,-74.24442,-73.98241,-73.95304,-73.92922,-73.71299
host_id,26155.0,NaN,NaN,NaN,74574778.668591,82617013.602094,2571.0,7365834.0,35281088.0,131647128.0,273841667.0
host_total_listings,26155.0,NaN,NaN,NaN,6.989715,31.807739,1.0,1.0,1.0,3.0,327.0

In [23]:
# review price column with 0 values 

df_filtered = df[df['price'] == 0]
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 11660 to 13533
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   listing_id              8 non-null      int64
 1   listing_name            8 non-null      object
 2   available_days_in_year  8 non-null      int64
 3   neighbourhood           8 non-null      category
 4   neighbourhood_group     8 non-null      object
 5   room_type               8 non-null      category
 6   price                   8 non-null      int64
 7   minimum_nights          8 non-null      int64
 8   total_reviews           8 non-null      int64
 9   last_review_date        8 non-null      object
 10  reviews_per_month       8 non-null      float64
 11  latitude                8 non-null      float64
 12  longitude               8 non-null      float64
 13  host_id                 8 non-null      int64
 14  host_total_listings     8 non-null      int64
dtypes: category(2), float64(3), int64(7), object(3)
memory usage: 10.8+ KB

In [24]:
df_filtered.head(10).T

,11660,12769,12937,12946,12947,12948,13517,13533
listing_id,18750597,20333471,20624541,20639628,20639792,20639914,21291569,21304320
listing_name,"Huge Brooklyn Brownstone Living, Close to it all.",★Hostel Style Room | Ideal Traveling Buddies★,Modern apartment in the heart of Williamsburg,Spacious comfortable master bedroom with nice ...,Contemporary bedroom in brownstone with nice view,Cozy yet spacious private brownstone bedroom,Coliving in Brooklyn! Modern design / Shared room,Best Coliving space ever! Shared room.
available_days_in_year,28,127,73,176,232,222,333,139
neighbourhood,Bedford-Stuyvesant,East Morrisania,Williamsburg,Bedford-Stuyvesant,Bedford-Stuyvesant,Bedford-Stuyvesant,Bushwick,Bushwick
neighbourhood_group,Brooklyn,Bronx,Brooklyn,Brooklyn,Brooklyn,Brooklyn,Brooklyn,Brooklyn
room_type,Private room,Private room,Entire home/apt,Private room,Private room,Private room,Shared room,Shared room
price,0,0,0,0,0,0,0,0
minimum_nights,4,2,5,1,1,1,30,30
total_reviews,1,55,3,93,95,95,2,5
last_review_date,2018-01-06,2019-06-24,2018-01-02,2019-06-15,2019-06-21,2019-06-23,2019-06-22,2019-05-24
reviews_per_month,0.05,2.56,0.15,4.28,4.37,4.35,0.11,0.26
latitude,40.69023,40.83296,40.70838,40.68173,40.68279,40.68258,40.69211,40.69166
longitude,-73.95428,-73.88668,-73.94645,-73.91342,-73.9117,-73.91284,-73.9067,-73.90928
host_id,8993084,131697576,10132166,86327101,86327101,86327101,101970559,101970559
host_total_listings,4,4,1,6,6,6,6,6

In [25]:
df = df[df['price'] != 0].reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26147 entries, 0 to 26146
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   listing_id              26147 non-null  int64
 1   listing_name            26147 non-null  object
 2   available_days_in_year  26147 non-null  int64
 3   neighbourhood           26147 non-null  category
 4   neighbourhood_group     26147 non-null  object
 5   room_type               26147 non-null  category
 6   price                   26147 non-null  int64
 7   minimum_nights          26147 non-null  int64
 8   total_reviews           26147 non-null  int64
 9   last_review_date        26147 non-null  object
 10  reviews_per_month       26147 non-null  float64
 11  latitude                26147 non-null  float64
 12  longitude               26147 non-null  float64
 13  host_id                 26147 non-null  int64
 14  host_total_listings     26147 non-null  int64
dtypes: category(2), float64(3), int64(7), object(3)
memory usage: 2.7+ MB

In [26]:
df['avg_price_per_night'] = df['price'] / df['minimum_nights']

In [27]:
df['avg_price_per_night'].describe()

count    26147.000000
mean        68.909108
std        127.430973
min          0.079079
25%         22.500000
50%         46.500000
75%         83.333333
max       8000.000000
Name: avg_price_per_night, dtype: float64

In [28]:
df[df['avg_price_per_night'] < 10]

,listing_id,listing_name,available_days_in_year,neighbourhood,neighbourhood_group,room_type,price,minimum_nights,total_reviews,last_review_date,reviews_per_month,latitude,longitude,host_id,host_total_listings,avg_price_per_night
35,12627,Entire apartment in central Brooklyn neighborh...,95,Prospect-Lefferts Gardens,Brooklyn,Entire home/apt,150,29,11,2019-06-05,0.49,40.65944,-73.96238,49670,1,5.172414
44,14377,Williamsburg 1 bedroom Apartment,30,Williamsburg,Brooklyn,Entire home/apt,150,30,105,2019-06-22,0.90,40.70881,-73.95930,56512,1,5.000000
48,15341,**Bright Nolita Apt w Doorman/Elevators/Gym**,154,SoHo,Manhattan,Entire home/apt,180,30,21,2019-06-29,0.30,40.72210,-73.99775,60049,1,6.000000
50,15396,Sunny & Spacious Chelsea Apartment,180,Chelsea,Manhattan,Entire home/apt,375,180,5,2018-11-03,0.12,40.74623,-73.99530,60278,1,2.083333
52,16326,Comfortable 4-bedroom apt in family house.,297,Prospect Heights,Brooklyn,Entire home/apt,200,30,143,2019-01-26,1.33,40.67811,-73.96428,63588,2,6.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26035,36032998,Spacious Sunny Private Bedroom with Windows,40,Williamsburg,Brooklyn,Private room,44,5,1,2019-07-08,1.00,40.71808,-73.94261,2355573,2,8.800000
26039,36038287,"Huge, Clean & Quiet room in a 2 BR Apt",321,Stuyvesant Town,Manhattan,Private room,77,21,2,2019-06-25,2.00,40.73221,-73.97941,167769983,1,3.666667
26086,36137740,Cozy Kips Bay Apartment,54,Kips Bay,Manhattan,Entire home/apt,130,30,1,2019-06-28,1.00,40.74133,-73.97706,30933227,1,4.333333
26129,36280646,"Cable and wfi, L/G included.",322,Forest Hills,Queens,Entire home/apt,16,9,1,2019-07-07,1.00,40.73657,-73.85088,272872092,1,1.777778
26138,36351543,2-MONTH SUBLEASE (WITH EARLY MOVE-IN),87,Bedford-Stuyvesant,Brooklyn,Private room,33,30,2,2019-07-06,2.00,40.68914,-73.92408,52984497,1,1.100000

In [29]:
# save data to use for Tableau dashboard

df.to_csv('AB_NYC_2019_clean.csv', index=False)

print("file saved")

file saved